.venv
.vscode
.idea
/data/
/logs/
/runs/*
/runs_old/*
/runs_copy/*
/best_results/*
/garbage/
/batch_scripts/*
/pretrained_feature_extractors/*

__pycache__
*.out
*.err
*.pkl
*.png

*.pages
data.zip
.DS_Store
.venv-backups
.hf_home
notes.txt

.env
research paper/*
paper/*